html {
  height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
  background-color: rgb(94, 23, 46);
}

p {
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(0, 14, 11);
  text-align: center;
  font-size: large;
  color: white;
}

.page-title {
  font-size: 30px;
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  margin: 10px;
  list-style-type: none;
  width: 260px;
  height: 285px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 6px 5px rgb(3, 37, 33);
}

img {
  border-radius: 50%;
  box-shadow: 2px 2px 5px gray;
}

button {
  margin-bottom: 10px;
  border: none;
  background-color: rgb(100, 26, 75);
  color: rgb(236, 222, 222);
  height: 20px;
  width: 120px;
  border-radius: 2px;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  box-shadow: 1px 1px 5px gray;
  transition: box-shadow .3s, background-color .2s, color .2s;
}

button:hover {
  box-shadow: none;
  background-color: rgb(141, 96, 126);
  color: white;
}
 
i {
  color: rgb(252, 252, 252);
}
